html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* body with white bricks */
body {
    background-image: url('../img/white-brick.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-sizing: border-box;
}

@media only screen and (min-width: 200px) {
    body {
        background-image: url('../img/white-brick.jpeg');
        font-size: 100%;
    }
}

@media only screen and (min-width: 800px) {
    body {
        background-image: url('../img/white-brick.jpeg');
        font-size: 120%;
    }
}


/* body with white bricks end */


/*header */

/*logo media query */
header {
    background-image: url('../img/header1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-sizing: border-box;
    text-align: center;

}


@media only screen and (min-width: 200px) {
    header {
        background-image: url('../img/header1.jpg');
        font-size: 150%;
    }

    #logo {
        max-width: 150px;
    }
}

@media only screen and (min-width: 800px) {
    header {
        background-image: url('../img/header1.jpg');
        font-size: 140%;
    }

    #logo {
        max-width: 250px;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        background-image: url('../img/header1.jpg');
        font-size: 140%;
    }

    #logo {
        max-width: 350px;
    }
}


header h4 {
    color: red;
    margin: auto;
    padding: 60px 30px 20px 30px;
    text-align: center;
    font-family: Arial;
    text-decoration: none;

}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

main h1 {
    text-align: center;
    color: #563e3f;
    font-family: 'Arapey', serif;

}


main h2 {
    text-align: center;
    color: #22860e;
    font-family: 'Arapey', serif;
    font-weight: 500;
    padding-top: 1em;

}

main p {
    text-align: center;
    color: #031400;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 2em;
    padding-bottom: 2em;

}

#colors {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-image: url('../img/bg-slate.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}


#colors h1 {
    color: white;
}

#colors p {
    color: white;
}

@media only screen and (min-width: 200px) {
    #colors p {
        font-size: 70%;
    }
}

@media only screen and (min-width: 800px) {
    #colors p {
        font-size: 100%;
    }
}


#square3 p {
    color: black;
}

#square1 {
    width: 8em;
    height: 8em;
    background: #890407;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}

#square2 {
    width: 8em;
    height: 8em;
    background: #1e431e;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;


}

#square3 {
    width: 8em;
    height: 8em;
    background: #e5e1d2;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}

#square4 {
    width: 8em;
    height: 8em;
    background: #888686;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}

#square5 {
    width: 8em;
    height: 8em;
    background: #563e3f;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}



@media only screen and (min-width: 200px) {
    #square1 {
        width: 4em;
        height: 4em;
    }

    #square2 {
        width: 4em;
        height: 4em;
    }

    #square3 {
        width: 4em;
        height: 4em;
    }

    #square4 {
        width: 4em;
        height: 4em;
    }

    #square5 {
        width: 4em;
        height: 4em;
    }
}


@media only screen and (min-width: 800px) {
    #square1 {
        width: 7em;
        height: 7em;
    }

    #square2 {
        width: 7em;
        height: 7em;
    }

    #square3 {
        width: 7em;
        height: 7em;
    }

    #square4 {
        width: 7em;
        height: 7em;
    }

    #square5 {
        width: 7em;
        height: 7em;
    }
}

@media only screen and (min-width: 1024px) {
    #square1 {
        width: 9em;
        height: 9em;
    }

    #square2 {
        width: 9em;
        height: 9em;
    }

    #square3 {
        width: 9em;
        height: 9em;
    }

    #square4 {
        width: 9em;
        height: 9em;
    }

    #square5 {
        width: 9em;
        height: 9em;
    }
}






#buttons {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

@media only screen and (min-width: 200px) {
    #button1 a {
        font-size: 80%;
    }

    #button2 a {
        font-size: 80%;
    }

}


#button1 {
    display: inline-block;
    padding: 1em;
    background-color: #890407;
    text-decoration: none;
    margin: 20px;

}


#button1 a {
    color: #e5e1d2;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


/* Underline From Center - green underline */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #1e431e;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover::before,
.hvr-underline-from-center:focus::before,
.hvr-underline-from-center:active::before {
    left: 0;
    right: 0;
}

#button2 {
    display: inline-block;
    padding: 1em;
    background-color: #22860e;
    text-decoration: none;
    margin: 20px;

}

#button2 a {
    font-family: cursive;
    color: #e5e1d2;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


@media only screen and (min-width: 200px) {
    #button1 {
        font-size: 80%;
    }

    #button2 {
        font-size: 80%;
    }

}

/* Underline From Center - button 2 */
.hvr-underline-frm-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-frm-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #c30005;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-frm-center:hover::before,
.hvr-underline-frm-center:focus::before,
.hvr-underline-frm-center:active::before {
    left: 0;
    right: 0;
}


footer {
    text-align: center;
    background-image: url('../img/coffee.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;

}

@media only screen and (min-width: 1100px) {
    footer {
        text-align: center;
        background-image: url('../img/coffee.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
}
